# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="${HOME}/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

plugins=(git terraform aws)

source ${ZSH}/oh-my-zsh.sh

# User configuration
export EDITOR=nvim

# add pip bins to path
export PATH=${PATH}:${HOME}/.local/bin

# add tfenv to path
export PATH=${PATH}:${HOME}/.tfenv/bin

# kubectl
source <(kubectl completion zsh)

# resume cli
export PATH=${PATH}:${HOME}/resume/node_modules/.bin

# alias for vim because typos
alias vim='nvim'
alias vmi='nvim'
